<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271120179295-au8tvna5ctjf9ubctoc1hdtho1lt9eb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271120179295-au8tvna5ctjf9ubctoc1hdtho1lt9eb0</string>
	<key>API_KEY</key>
	<string>AIzaSyAw7A9GgqiR7m3QOySA8-Ae30DBhPeVRcE</string>
	<key>GCM_SENDER_ID</key>
	<string>271120179295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobideliv</string>
	<key>PROJECT_ID</key>
	<string>mobideliv</string>
	<key>STORAGE_BUCKET</key>
	<string>mobideliv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271120179295:ios:d5268ea6b130e3d0fd3bea</string>
</dict>
</plist>